body {
    background-color: #ecf0f1;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #bdc3c7;
    border-width: 5px;
    width: 5%;
}

.japanese {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

h1, h3 {
    color: #2c3e50;
}